<div class="container-banners" fxLayout="column" fxLayoutAlign="end end" fxHide.lt-md>
    <div class="card-banner">
      <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/Nro1WwTdCK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-banner">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/knrc4q1S_q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div [ngStyle]="{'height': '200px'}" class="card-banner">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/L-6K1j_GlU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div [ngStyle]="{'height': '300px'}" class="card-banner">
      <iframe  width="100%" height="100%"  src="https://www.youtube.com/embed/6741ceWzsKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div [ngStyle]="{'height': '200px'}" class="card-banner">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/PXorJlbvtNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <!-- <form [formGroup]="formDate">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="datePicker" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [opened]="true" #picker></mat-datepicker>
      </mat-form-field>
    </form> -->
</div>